@import url(https://fonts.googleapis.com/css?family=Lobster);

body{
    background-position: center;
    background: #a9e3f5;
    color: rgb(51, 51, 51);
}

.header {
    height:220px;
    margin: 20px;
}

.circle {
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: #24a7e4;
    margin-top: 100px;
}

.h1.logo {
    color: #dcecf1;
    text-align: center;
    font-family: 'Lobster', cursive;
    line-height: 40px;
    margin-top: -220px;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    text-shadow: 1px 1px #070808, 2px 2px #227df5, 3px 3px #227df5, 4px 4px #227df5, 5px 5px #227df5, 6px 6px #227df5, 7px 7px #227df5, 8px 8px #227df5, 9px 9px #227df5, 10px 10px #227df5, 11px 11px #227df5, 12px 12px #227df5, 13px 13px #227df5, 14px 14px #227df5, 15px 15px #227df5, 16px 16px #227df5, 17px 17px #227df5, 18px 18px #227df5, 19px 19px #227df5, 20px 20px #227df5, 21px 21px #227df5, 22px 22px 6px #062752;
}

.hoge{
    span:nth-child(3), span:nth-child(7) {
    font-size: 30px;
    }
    span:nth-child(1), span:nth-child(9), span:nth-child(5)  {
    font-size: 60px;
    }
}

.username{
    height:20px;
    margin: 40px;
    text-align: center;
}

.bestscore{
    margin: auto;
    height:100px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: 2px solid rgb(117, 117, 117);
    border-radius: 30px;
}

.card{
    height: 100px;
    width: 550px;
    text-align: center;
    margin-bottom: 10px;
    background-color: rgb(248, 216, 193);
    border: 1px solid;
}

.lastdata{
    height:380px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    padding: 100px 300px;
    margin: 10px;
    border: 2px solid rgb(116, 116, 116);
    border-radius: 30px;
}

